################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment_3/.vs/Assignment_3/v17/Browse.VC.opendb
/Assignment_3_Maps/.vs/Assignment_3_Maps/v17/Browse.VC.opendb
